:local(.scoped) {
  height: 100vh;
  @apply bg-bg_color;

  .header-title {
    font-size: 17px;
    @apply m-auto font-medium;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }


  .back-button {
    font-size: 16px;
    cursor: pointer;
    color: #007BFF;
  }

  .title {
    font-size: 18px;
    font-weight: bold;
  }

  .content {
    margin: 10px 20px 0;

    /* 调整上边距 */
    .selling-info {
      margin-bottom: 20px;

      p {
        margin: 10px 0;
        /* 调整行与行的间距 */
        font-size: 14px;

        img {
          width: 16px;
          height: 16px;
          margin-left: 5px;
        }
      }
    }

    .payment-info {
      display: flex;
      align-items: center;
      margin-top: 10px;

      img {
        width: 24px;
        height: 24px;
        margin-right: 10px;
      }

      span {
        font-size: 16px;
      }
    }

    .reminder {
      margin-top: 20px;
      color: red;

      p {
        font-size: 14px;
        margin: 10px 0;
        /* 调整行与行的间距 */
      }
    }
  }

  .footer {
    position: fixed;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 100%;

    button {
      width: 150px;
    }
  }

  .icon-bar {
    @apply absolute right-4 top-1/2 -translate-y-1/2;
  }

  .rv-divider {
    height: 0.5px;
    @apply mx-4;
  }
  .dialog-confirm {
    color: red;
  }
}

:local(.modal) {
  @apply bg-bg_color !important;
}