:local(.only-input-wrapper) {
  @apply text-sm rounded;
  
  --price-input-height: 40px;

  height: var(--price-input-height);

  @apply bg-bg_sr_color;

  &::after {
    @apply border-bg_sr_color rounded;
  }

  .rv-input {
    height: var(--price-input-height);
    
    div.rv-input__control {
      @apply text-text_color_01;
    }
  }
  
  

  &.is-white {
    @apply bg-card_bg_color_03 border border-solid border-line_color_01;
  }

  &.h-26 {
    --price-input-height: 26px;
  }

  &.disabled {
    @apply bg-bg_button_disabled;
  }

  &.is-focused {
    @apply bg-transparent;
    
    &::after {
      @apply border-brand_color rounded;
    }
  }

  &.with-label {
    @apply relative;

    @keyframes label {
      0% {
        transform: scale(1.2);
      }

      100% {
        transform: scale(0.8);
      }
    }

    .label {
      @apply text-text_color_02 text-xs absolute top-1 hidden;

      transform-origin: left top;
    }
  

    &.has-value {
      .label {
        @apply block;

        transform: scale(0.8);
        animation: label 0.2s ease-in-out;
      }

      .rv-input__control {
        @apply pl-0.5;
        
        transform: translateY(6px);

        /** 出现的时候才有动效 */
        transition: all 0.2s ease-in-out;

      }
    }
  }

}
