:local(.scoped) {
  height: 100vh;
  @apply bg-bg_color;

  .buy-coin-container-page {

    .return-button {
      font-size: 16px;
      cursor: pointer;
      color: #007BFF;
    }

    .title {
      font-size: 18px;
      font-weight: bold;
    }

    .sell-coin-button {
      display: flex;
      justify-content: center;
      margin: 30px 0px;
      button {
        width: 150px;
      }
    }

    .buy-coin-stats {
      margin:  0px 10px 20px 10px;
      font-size: 14px;

      p {
        margin: 5px 0;
        display: flex;
        align-items: center;

        .status {
          font-weight: bold;
          margin-left: 10px;
          color: #28a745;
        }
      }
    }

    .coin-stats {
      display: flex;
      justify-content: space-between;
      margin:  0px 10px 0px 10px;
    }

    .left-stats,
    .right-stats {
      font-size: 16px;
      font-weight: bold;
    }

    .right-stats {
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 10px;
    }

  }
}

:local(.modal) {
  @apply bg-bg_color !important;
}