:local(.scoped) {
  @apply flex flex-row items-center gap-x-1;

  .avatar {
    width: 22px;
    height: 22px;

    & > div {
      width: 22px;
      height: 22px;
    }

    svg {
      @apply align-baseline;
    }
  }

  > span {
    @apply text-sm text-text_color_03;
  }
}