:local(.price-input-wrapper) {
  @apply relative;

  --price-input-height: 40px;

  &.is-white {
    .rv-stepper {
      @apply bg-card_bg_color_03 border border-solid border-line_color_01;
    }
  }

  .rv-stepper {
    @apply flex justify-between bg-bg_sr_color rounded;
  
    .rv-stepper__input {
      @apply bg-transparent flex-1;

      height: var(--price-input-height);
    }
  }

  .rv-stepper__minus,
  .rv-stepper__plus {
    @apply w-7 bg-transparent text-icon_color;

    height: var(--price-input-height);
  }

  .rv-stepper__minus::after, .rv-stepper__plus::after {
    @apply w-0.5 h-3.5;
  }

  .rv-stepper__minus::before, .rv-stepper__plus::before {
    @apply h-0.5 w-3.5;
  }

  .rv-stepper__minus--disabled,
  .rv-stepper__plus--disabled {
    @apply opacity-50;
  }

  .rv-stepper__input {
    @apply m-0 text-sm;
  }
}

