:local(.scoped) {
  height: 100vh;

  .order-tab {
    .rv-tab {
      @apply px-3 !important;
    }
    .rv-tab__text {
      @apply text-2xl  !important;
    }
  }

  @apply bg-bg_color;
  .header-title {
    font-size: 17px;
    @apply m-auto font-medium;
  }

  .icon-bar {
    @apply absolute right-4 top-1/2 -translate-y-1/2;
  }

  .rv-divider {
    height: 0.5px;
    @apply mx-4;
  }
}

.rv-cell__value {
  .rv-field__body {
    @apply bg-transparent !important;
  }
}



:local(.modalscoped) {
  width: 300px;
  height: 150px;
  @apply bg-bg_color rounded-xl !important;
}


:local(.modal) {
  @apply bg-bg_color !important;
}