:local(.set-password-wrap) {
  .set-password-icon {
    @apply w-5 h-5;
    
    svg {
      @apply w-full h-full;
    }
  }

  .set-password-content {
    @apply pt-3 px-4;

    p {
      font-size: 28px;
      @apply mb-2 font-medium;
    }

    .next-submit {
      .rv-field__body {
        @apply bg-transparent !important;
      }
    }

    .content-header-text {
      @apply mt-2 block text-xs text-text_color_03;
    }

    .rv-cell__title {
      @apply text-sm;
    }
  
    .rv-form-item--vertical {
      @apply mt-8;
    }
  
    .rv-field {
      @apply p-0 bg-transparent;
  
      .rv-field__body {
        @apply bg-card_bg_color_01 rounded;
  
        .rv-field__prefix {
          .rv-image {
            img {
              margin-right: 10px;
              @apply w-4 h-4;
            }
          }
  
          svg {
            @apply w-2 h-2 ml-2;
          }
        }
      }
  
      .rv-checkbox {
        @apply bg-bg_color w-full;
      }
  
      .rv-checkbox__label {
        @apply text-text_color_03;
      }
  
      .rv-field__right-icon {
        line-height: 42px;
        @apply right-0 top-0 bottom-0 m-auto;
  
        svg {
          @apply w-5 h-5;
        }
      }
    }
  
    .rv-search, .data-list {
      .rv-field__body {
        @apply bg-transparent;
      }
    }

    .rv-button {
      @apply mt-4 w-full rounded-lg;
    }
  }
}