:local(.scoped) {
  min-height: 100vh;
  height: 100%; 
  @apply bg-bg_color;

  .header-title {
    font-size: 17px;
    @apply m-auto font-medium;
  }

  .coin-shop-header-title {
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: large;
  }

  .coin-shop-tab {
    display: flex;
    justify-content: space-around;
    margin: 20px 0px;

    .payment-method-button {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      background-color: #ffff !important;
      border-radius: 20px;
      height: 42px !important;
      line-height: 42px;
      width: 100px;
      color: black;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .coin-shop-tab-name,
    .coin-shop-tab-wholesale,
    .coin-shop-tab-petty {
      .coin-shop-tab-input {
        input {
          background-color: #ffff !important;
          border-radius: 20px;
          height: 42px !important;
          width: 100px;
          color: black;
        }

        input.rv-input__control {
          --rv-input-placeholder-text-color: #DBDBDB !important;
          padding-left: 10px;
        }
      }
    }
  }

  .coin-shop-list {
    margin-top: 20px;

    .user-picture {
      /* width: 15%; */
      width: 40px;
      height: 40px;
      background-color: aliceblue;
    }
    .recharge-information {
      /* width: 30%; */
    }

    .amount-rule {
      transform: scaleZ(0.2);
      font-size: 12px;
      color: #ccc;
      padding-left: 10px;
    }

    .recharge-personal-information {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;
    }

    .payment-method {
      display: flex;
      justify-items: center;
      align-items: center;
      width: 30%;
      span {
        width: 40px;
        height: 40px;
        margin: 5px 2px;
      }
    }
  }


  .triangle-icon {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: black transparent transparent transparent;
    margin-left: 5px;
    vertical-align: middle;
  }


  .pickerContainer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 1000;
  }

  .icon-bar {
    @apply absolute right-4 top-1/2 -translate-y-1/2;
  }

  .rv-divider {
    height: 0.5px;
    @apply mx-4;
  }
}

:local(.modal) {
  @apply bg-bg_color !important;
}