:local(.scoped) {
  @apply w-full text-sm;

  .handling-fee {
    @apply flex justify-between;

    .title {
      @apply text-text_color_02 text-sm;

      line-height: 22px;

    }

    .value {
      @apply text-text_color_01 text-sm;
      
      line-height: 22px;
    }
  }

  .divide {
    width: calc(100% - 32px);
    height: 0.5px;
    @apply mx-auto my-6;

    background: rgb(48 55 63 / 100%);
  }

  .footer-wrap {
    @apply fixed bottom-8 w-full px-4 box-border;
  }

  .select-currency {
    @apply flex-col mt-2 px-4 mb-4;
  }

  .select-currency .rv-cell__title {
    @apply text-text_color_02;
  }

  .copy-div .rv-cell__value {
    @apply flex justify-end;
  }

  .copy-btn {
    @apply text-tips_color border px-2 py-1 rounded text-xs bg-tips_color_special font-normal;
  }

  .share-div {
    @apply m-4;
  }

  .memo-tips {
    @apply text-xs mb-4 text-tips_color;
  }

  .item-title {
    @apply text-sm text-text_color_03 mb-2;
  }

  .coin-info {
    @apply w-full flex flex-row items-center p-2 justify-between bg-bg_sr_color rounded;

    .coin-info-item {
      @apply flex flex-row items-center text-sm text-text_color_01;

      .coin-name {
        @apply ml-2
      }

      .next-icon {
        svg {
          @apply w-4 h-4 ml-1 self-center
        }
        
      }
    }
  }

  .recharge-tips {
    @apply px-4;

    .tips-content {
      @apply w-full py-3 px-2 bg-bg_sr_color rounded flex flex-row text-sm text-text_color_02;

      .tips-content-icon {
        @apply mt-1;
        
        svg {
          @apply w-3 h-3 mr-1;
        }
      }
    }
  }

  .memo {
    @apply px-4;

    .memo-content {
      @apply w-full bg-bg_sr_color rounded flex flex-row items-center justify-between px-2 py-3 mb-1;

      .memo-text {
        @apply text-xs text-text_color_03 w-4/5
      }

      .memo-btn {
        @apply h-6 px-4 text-xs text-brand_color rounded border-brand_color bg-brand_color_special_02 border mr-1
      }
    }
  }

  .record-icon {
    svg {
      @apply w-5 h-5 self-center
    }
  }

  .rv-hairline--bottom {
    @apply border-line_color_02
  }

  .rv-hairline--bottom::after {
    @apply border-line_color_02
  }
}

.dialog-pwd .pwd-Input {
  height: 40px !important;
  margin: 0;

  .rv-password-input__security {
    height: 40px !important;

    .rv-password-input__item {
      width: 36px;
      height: 40px !important;
      background-color: #30373F;

      i {
        color: transparent;
        background-color: #ffffff;
      }
    }
  }


  input {
    height: 40px !important;
    caret-color: transparent !important;
  }
}

:local(.dialog-pwd) {
  .pwd-Input {
    height: 40px !important;
    margin: 0;

    .rv-password-input__security {
      height: 40px !important;

      .rv-password-input__item {
        width: 36px;
        height: 40px !important;
        background-color: #30373F;

        i {
          color: transparent;
          background-color: #ffffff;
        }
      }
    }


    input {
      height: 40px !important;
      caret-color: transparent !important;
    }
  }
}


:local(.customNumberKeyboard) {
  .rv-key {
    color: black;
  }
}

:local(.dialog-pwd-disabled) {
  .pwd-Input {
    height: 40px !important;
    margin: 0;

    .rv-password-input__security {
      height: 40px !important;

      .rv-password-input__item {
        @apply w-9;

        height: 40px !important;
        background-color: #30373F;

        i {
          color: transparent;
          background-color: #ffffff;
        }
      }
    }

    input {
      height: 40px !important;
      caret-color: transparent !important;
    }

  }

  .rv-dialog__footer {
    .rv-dialog__confirm {
      color: #5A626B !important;
      background-color: #3C4651 !important;
    }
  }
 
}