:local(.introjs-helperLayer-custom-default) {
  box-shadow: var(--bg_color_02) 0 0 0 100vh !important;
  @apply bg-card_bg_color_03;
}

:local(.introjs-tooltip-custom-default) {
  .introjs-tooltiptext {
    border-radius: 4px;
    @apply h-full w-full p-2 bg-card_bg_color_01;
  }

  /*
  .introjs-tooltipbuttons,
  */
  .introjs-bullets,
  .introjs-tooltip-header {
    @apply hidden;
  }

  .introjs-tooltipbuttons {
    @apply border-none !important;
  }
}

/** 引导图相关样式，有需要可自行引用，样式表现查看合约交易页面  */
:local(.intro-jump-btn-root) {
  @apply rounded-xl bg-bg_sr_color text-sm text-text_color_01 font-normal text-center fixed;

  top: 38px;
  right: 31px;
  z-index: 999999991;
  width: 62px;
  height: 26px;
  line-height: 26px;
}

:local(.intro-tooltip) {
  /** 整体背景色透明，只展示文字内容的背景色 */
  @apply bg-transparent flex-col;

  
  display: flex !important;
  min-width: unset;

  .introjs-tooltiptext {
    @apply p-2.5 bg-card_bg_color_02;
  }

  .introjs-tooltip-header {
    @apply hidden;
  }

  .introjs-arrow {
    &.top {
      @apply border-b-card_bg_color_02;
    }
    
    &.bottom {
      @apply border-t-card_bg_color_02;
    }
  }

  /** 背景色透明 */
  .introjs-tooltipbuttons {
    @apply bg-transparent py-2 px-0 border-t-0;

    /** 下一步和确定按钮 */
    .introjs-button {
      @apply flex items-center justify-center px-2.5 box-border rounded bg-brand_color border-brand_color text-xs text-button_text_02 shadow-none;

      min-width: 75px;
      height: 30px;
      line-height: 30px !important;
      text-shadow: none;
    }

    /** 隐藏上一步 */
    .introjs-prevbutton {
      @apply hidden;
    }
  }

  /** 按钮在顶部 */
  &.in-top {
    .introjs-tooltipbuttons {
      @apply -order-1;
    }
  }

  /** 默认左对齐 */
  &:not(.auto-left) {
    left: 0 !important;
  }

}
